<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>section 10</title>
    </head>
    <body>
        <div id="app">
            <h1>section 10</h1>
            <h2>リストデータの表示と更新</h2>
            <ul>
                <li v-for="item in list" v-bind:key="item.id">
                    ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
                </li>
            </ul>

            <hr>
            <h2>繰り返し描画しながら、さまざまな条件を適用する</h2>
            <ul>
                <li v-for="item in list"
                    v-bind:key="item.id"
                    v-bind:class="{ tuyoi: item.hp > 300 }">
                    ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
                    <span v-if="item.hp > 300">つよい！</span>
                </li>
            </ul>

            <hr>
            <h2>描画と表示の条件</h2>
            <ul>
                <li v-for="item in list" v-bind:key="item.id" v-if="item.hp < 300">
                    ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
                </li>
            </ul>

            <hr>
            <h2>リストに要素を追加する・要素を削除する</h2>
            名前　<input v-model="name">
            <button v-on:click="doAdd">モンスターを追加</button>
            <ul>
                <li v-for="(item, index) in list" v-bind:key="item.id" v-if="item.hp">
                    ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
                    <span v-if="item.hp < 50">瀕死！</span>
                    <button v-on:click="doAttack(index)">攻撃する</button>
                    <button v-on:click="doRemove(index)">モンスターを削除</button>

                </li>
            </ul>

            <hr>
            <h2>外部からデータを取得する</h2>
            <p><a href="./index2.html">別ページ（index2.html）へ</a></p>

        </div>
        <script src="../js/vue_2_4_17/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>
